<form class="form" [formGroup]="makeReservationForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
  <section class="form-block">
    <label>
      <clr-icon shape="book" class="has-badge is-solid"></clr-icon> Reserve a table</label>
    <hr>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="" class="card clickable">
          <div class="card-img">
            <img src="../assets/images/">
          </div>
          <div class="card-block">
            <p class="card-text">
              Online table reservations are possible until 6 pm for lunch on the following weekday (Mon-Fri) until 3pm for dinner on the
              current day. Please fill in the form below. We confirm the table reservations by e-mail or by telephone. We
              also accept short-term reservations by telephone to 041 220 88 00. We are looking forward to meeting you. Due
              to the limited capacity, we can not guarantee the desired table and thank you for your understanding.
            </p>
          </div>
        </a>
      </div>
    </div>
    <br>
    <div>
      <label>
        <clr-icon class="has-badge is-solid"></clr-icon> Reservation</label>
      <hr>
      <!-- Date and Time -->

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <label for="dateTime">Date and Time :</label>
            <label for="dateTime" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="makeReservationForm.get('dateTime').invalid
              && (makeReservationForm.get('dateTime').dirty || makeReservationForm.get('dateTime').touched)">
              <input id="dateTime" type="date" formControlName="dateTime" size="35">
              <span class="tooltip-content">
                Date and Time must be selected
              </span>
            </label>
          </div>

          <!-- Number of adultds -->
          <div class="form-group">
            <label for="adults">Number of adults :</label>
            <label for="adults" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="makeReservationForm.get('adults').invalid
                    && (makeReservationForm.get('adults').dirty || makeReservationForm.get('adults').touched)">
              <input id="adults" type="text" formControlName="adults" size="35" [(ngModel)]="adults">
              <span class="tooltip-content">
                Number of adults cannot be empty.
              </span>
            </label>
          </div>

          <!-- Number of children -->
          <div class="form-group">
            <label for="children">Number of children :</label>
            <label for="children" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="makeReservationForm.get('children').invalid
                    && (makeReservationForm.get('children').dirty || makeReservationForm.get('children').touched)">
              <input id="children" type="text" formControlName="children" size="35" [(ngModel)]="children">
              <span class="tooltip-content">
                Number of adults cannot be empty.
              </span>
            </label>
          </div>
          <div>
            <label for="children">Total Amount: Rs :</label>
            <span class="badge badge-orange">{{ adults*1000+children*300 }}</span>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div>
            <label for="children">Select Payment type</label>
          </div>
          <div>
            <clr-dropdown>
              <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
                Payment Type
                <clr-icon shape="caret down"></clr-icon>
              </button>
              <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
                <button type="button" clrDropdownItem (click)="shoow = true">Credit</button>
                <button type="button" clrDropdownItem (click)="payByCash()">Cash</button>
              </clr-dropdown-menu>

            </clr-dropdown>
          </div>
        </div>

      </div>
    </div>
    <br>


    <br/>
    <label>
      <clr-icon class="has-badge is-solid"></clr-icon> Personal Details</label>
    <hr>
    <!-- Company -->
    
  </section>
</form>
<div>
    <clr-modal [(clrModalOpen)]="shoow" [clrModalClosable]="false">
        <h3 class="modal-title">Enter Credit Card Details</h3>
        <div class="modal-body">
          <div class="form-group">
            <label for="dateTime">Card Number :</label>
            <input id="dateTime" type="text" [(ngModel)]="payment.CardNumber" size="35">
          </div>
          <br>
          <div class="form-group">
            <label for="dateTime">CVC Number :</label>
            <input id="dateTime" type="text"  [(ngModel)]="payment.CVCNumber" size="35">
          </div>
          <br>
          <div class="form-group">
            <label for="dateTime">Card Holder Name :</label>
            <input id="dateTime" type="text"[(ngModel)]="payment.CardHolderName" size="35">
          </div>
          <br>
          <button class="btn btn-primary" type="submit" (click)="sendPayment()">Proceed</button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="shoow = false">
                Close
            </button>
        </div>
    </clr-modal>
</div>